@import "~common/stylesheet/index";

.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 12px;
  margin: 0;
  border: 2px solid transparent;
  font-weight: 600;
  transition: all 0.1s ease;

  .icon {
    margin-right: 4px;
    font-weight: 700;

    &.image {
      width: 1.6em;
      height: 1.6em;
      background-position: center;
      background-size: cover;
      border-radius: 0;
      border: 1px solid $color-selected;
    }
  }

  &.reverse {
    flex-direction: row-reverse;

    .icon {
      margin-right: 0;
      margin-left: 4px;
    }
  }

  &.icon_only {
    .icon {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &:hover {
    background-color: $theme-light;
    border-color: $color-selected;
  }

  &.primary {
    &:hover {
      background-color: $theme-light;
      border-color: $color-selected;

      &:active {
        box-shadow: inset 0 0 0 2px $color-selected;
      }
    }

    &.active {
      background-color: $theme-light;
      border: 2px solid $color-active;
      font-weight: 700;
      box-shadow: inset 0 0 0 1px $color-active;

      .icon {
        color: $color-active;
        text-shadow: 0 0 8px $color-active;
      }
    }
  }

  &.selected {
    background-color: $theme-light;
    border: 2px solid $color-selected;

    &:hover {
      color: $color-selected;
      text-shadow: 0 0 4px $color-selected;
    }
  }

  &.disabled {
    cursor: not-allowed;
    background-color: $theme-light;
    opacity: 0.5;
    border: 2px dashed $color-font;
  }

  &.confirming {
    color: $color-alert;
    border: 2px solid $color-alert;
    text-shadow: 0 0 8px $color-alert;
  }
}
