@import "~common/stylesheet/index";

.list_item {
  height: $line-height;
  border-bottom: 1px solid $color-selected;
  font-weight: 500;

  .label {
    flex: 1;
  }

  &.indent {
    padding-left: 24px;
  }
}
