@import "~common/stylesheet/index";

.tab_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
  position: relative;
  border: 2px solid $color-selected;

  .tab_bar {
    display: flex;
    align-items: stretch;
    height: $line-height;
    overflow-x: auto;
    white-space: nowrap;
    flex-shrink: 0;
    border-bottom: 2px solid $color-selected;

    .title {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 12px;
      margin: 0;
      border-right: 2px solid $color-selected;
      font-weight: 600;
      background-color: $theme-light;

      .input_title {
        input {
          &:hover,
          &:focus {
            margin: -4px;
            padding: 4px;
            background-color: $theme-normal;
            border: 1px solid $color-selected;
            font-weight: 600;
          }
        }
      }

      &.selected {
        border-right: 2px solid $color-selected;
        margin: 0;
        background-color: $theme-dark;
        border-bottom: 2px solid $color-active;
        margin-bottom: -2px;
        font-weight: 700;
        color: $color-active;
      }

      &.fake {
        pointer-events: none;

        &:first-child {
          flex-shrink: 0;
          width: $line-height / 2;
        }

        &:last-child {
          flex: 1;
          border-right: none;
        }
      }
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: $theme-dark;
    overflow: hidden;
  }
}
