@import "~common/stylesheet/index";

.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  background-color: $theme-normal;
  border: 3px solid $color-selected;

  .header {
  }

  .workspace {
    flex: 1;

    .visualization_viewer {
      background-color: $theme-dark;
      border: 2px solid $color-selected;
    }

    .editor_tab_container {
    }
  }

  .toast_container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
  }
}
