@import "~common/stylesheet/index";

.code_editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 2px solid $color-selected;

  .ace_editor {
    flex: 1;
    width: 100% !important;
    height: 100% !important;
    min-width: 0 !important;
    min-height: 0 !important;

    .current_line_marker {
      background-color: rgba($color-highlight, 0.2);
      border: 2px solid $color-highlight;
      position: absolute;
      width: 100% !important;

      animation: line_highlight .1s;
    }

    @keyframes line_highlight {
      from {
        background-color: rgba($color-highlight, 0.05);
      }
      to {
        background-color: rgba($color-highlight, 0.2);
      }
    }
  }

  .contributors_viewer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px;
    background-color: $theme-normal;
    border-top: 2px solid $color-selected;

    .contributor {
      height: 28px;
      padding: 0 6px;
      font-weight: 700;
      border-right: 1px solid $color-selected;

      &.label {
        display: flex;
        align-items: center;
        white-space: nowrap;
      }
    }

    .empty {
      display: flex;
      flex: 1;
    }

    .delete {
      height: $line-height;
      border: 2px solid transparent;

      &:hover {
        border: 2px solid $color-selected;
      }
    }
  }
}
