@import "~common/stylesheet/index";

.divider {
  position: relative;
  z-index: 97;

  &:after {
    position: absolute;
    background-color: $color-selected;
    content: '';
  }

  &.horizontal {
    width: 8px;
    margin: 0 -4px;
    cursor: ew-resize;
    background-color: $theme-light;
    border-left: 2px solid $color-selected;
    border-right: 2px solid $color-selected;

    &:after {
      top: 0;
      bottom: 0;
      left: 2px;
      width: 2px;
    }
  }

  &.vertical {
    height: 8px;
    margin: -4px 0;
    cursor: ns-resize;
    background-color: $theme-light;
    border-top: 2px solid $color-selected;
    border-bottom: 2px solid $color-selected;

    &:after {
      left: 0;
      right: 0;
      top: 2px;
      height: 2px;
    }
  }
}
