@import "~common/stylesheet/index";

.header {
  display: flex;
  flex-direction: column;
  min-width: 0;

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 16px;
    border-bottom: 3px solid $color-selected;

    .section {
      height: $line-height;
      display: flex;
      align-items: stretch;

      .title_bar {
        font-size: $font-size-large;
        font-weight: 800;
        min-width: 0;
        letter-spacing: 1px;
        text-transform: uppercase;

        .nav_arrow {
          margin: 0 4px;
          font-weight: 700;
        }

        .nav_caret {
          margin-left: 4px;
          font-weight: 700;
        }

        .input_title {
          padding: 4px 8px;
          background-color: $theme-light;
          border: 2px solid $color-selected;
          font-weight: 700;
        }
      }

      .btn_dropdown {
        position: relative;
        font-weight: 700;
        border: 2px solid transparent;

        &:active {
          box-shadow: none;
        }

        .dropdown {
          z-index: 98;
          position: absolute;
          left: 0;
          top: 0;
          display: none;
          flex-direction: column;
          align-items: stretch;
          box-shadow: 0 4px 12px $color-shadow;
          background-color: $theme-light;
          margin-top: $line-height;
          border: 2px solid $color-selected;
        }

        &:hover {
          .dropdown {
            display: flex;
          }
          border: 2px solid $color-selected;
        }
      }
    }
  }
}
