@import "~common/stylesheet/index";

.player {
  .progress_bar {
    width: 160px;
  }

  .speed {
    display: flex;
    align-items: center;
    padding: 0 12px;
    white-space: nowrap;
    border: 2px solid transparent;
    font-weight: 600;

    &:hover {
      background-color: $theme-light;
      border: 2px solid $color-selected;
    }

    .range {
      position: relative;
      height: 16px;
      width: 60px;
      margin-left: 8px;

      .range_label_container {
        display: none;
      }

      .range_track {
        top: 50%;
        height: 2px;
        margin-top: -1px;
        background-color: $color-selected;
        cursor: pointer;
        display: block;
        position: relative;
        border: 1px solid $color-selected;
      }

      .range_slider {
        top: 0;
        width: 8px;
        height: 16px;
        margin-left: -4px;
        margin-top: -7px;
        appearance: none;
        background-color: $color-selected;
        cursor: pointer;
        display: block;
        position: absolute;
        border: 1px solid $color-font;
      }
    }
  }
}
