@import "~common/stylesheet/index";

.navigator {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;

  .search_bar_container {
    height: $line-height;
    padding: 0 8px;
    display: flex;
    align-items: stretch;
    border-bottom: 2px solid $color-selected;

    &:focus-within {
      background-color: $theme-light;
      box-shadow: inset 0 0 0 1px $color-selected;
    }

    .search_icon {
      align-self: center;
      margin-right: 8px;
      font-weight: 700;
      color: $color-selected;
    }

    .search_bar {
      flex: 1;
      box-sizing: border-box;
      font-weight: 600;
    }
  }

  .algorithm_list {
    flex: 1;
    overflow-y: auto;
    border: 2px solid $color-selected;
    border-top: none;
  }

  .footer {
    max-height: 30vh;
    border-top: 2px solid $color-selected;
    border-left: 2px solid $color-selected;
    border-right: 2px solid $color-selected;
    overflow-y: auto;
  }
}
