@import "~common/stylesheet/index";

.progress_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $theme-light;
  cursor: pointer;
  pointer-events: auto;
  border: 2px solid $color-selected;

  > * {
    pointer-events: none;
  }

  .active {
    position: absolute;
    height: 100%;
    left: 0;
    background-color: $color-active;
    border-right: 2px solid $color-selected;
  }

  .label {
    position: absolute;
    color: $color-font;
    font-weight: 700;
    text-shadow: 0 0 8px $color-active;

    .current {
      font-weight: 800;
      color: $color-active;
    }
  }
}
